.messages-list {
    border-left: 2px solid #333;
}

.channel-wrp {
    background-color: #2a3141;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 70px;
    width: 300px;
    
}

.channel__message-wrap {
    height: 135px;
    width: 100%;
    position: absolute;
    bottom: 61px;
    left: 0;
}

.channel__message-write {
    height: 100px;
    display: block;
    width: 100%;
    background-color: #434658;
    border:0;
/*    border-top: 2px solid #252525;*/
    outline: 0;
    color: #fff;
    padding: 10px;
}

.btn-custom {
    width: 100%;
    border-radius: 0;
}

.msg-item {
    
}

.message-items {
    padding: 10px;
    width: 100%;
    position: absolute;
    top: 70px;
    bottom: 70px;
    left: 0;
    overflow: auto;
}

.msg-sender {
    color: #38a4f8;
}

.msg-time {
    float: right;
    font-size: 12px;
}

.msg-text {
    margin-top: 20px;
    color: #ccc;
}